<!-- chat header -->
{% if config.get('enable_chat_header') %}
    {% include 'chat/header.html' %}
{% endif %}
{% if config.get('enable_chat_titlebar') %}
    {% include 'chat/titlebar.html' %}
{% endif %}

<template x-if="$store.ui.notice">
    <div class="notice" x-html="$store.ui.notice"></div>
</template>

<!-- the main message view -->
<div id="messages" x-ref="messages" x-cloak
    @scroll.throttle="
        const el = $el;
        const distFromBottom = el.scrollHeight - el.scrollTop - el.clientHeight;
        $store.ui.shouldScroll = distFromBottom < $store.ui.scrollThreshold;
    "
>
    <!--
        a "turn" is:
            when it's a user turn:
                just one message which is the user's request

            when it's an AI turn:
                all messages emitted by the assistant after a user's request

                this can be reasoning (thinking), content, partial toolcalls, full toolcalls,
                tool responses, and so on.

        the grouping of raw messages into turns happens in the backend, in core/turn.py
        see that file for more information on how this works.

        any channel can use channel.group_stream() to get an array of grouped turns,
        just like what the webUI uses here!
    -->

    <!-- historical turns -->
    <template x-for="(turn, turnIndex) in $store.chat.turnHistory" :key="turnIndex">
        <div class="fullwidth turn" :data-turn-index="turnIndex">
            <!-- user turn (always one message) -->
            <template x-if="turn.role === 'user'">
                <div class="message-wrapper user" x-data="{ get message() { return turn.messages[0] } }">
                    <div class="message user">
                        {% include 'chat/turns/user.html' %}
                        <div x-data="{ get targetIndex() { return turn.first_message_index } }" class="fullwidth">
                            {% include 'chat/message_buttons.html' %}
                        </div>
                    </div>
                </div>
            </template>

            <!-- assistant turn (multiple messages combined into one bubble) -->
            <template x-if="turn.role === 'assistant'">
                <div class="message-wrapper assistant">
                    <div class="message assistant">
                        <template x-for="(message, messageIndex) in turn.messages" :key="messageIndex">
                            {% include 'chat/turns/assistant_history.html' %}
                        </template>

                        <div x-data="{ get targetIndex() { return turn.last_message_index } }" class="fullwidth">
                            {% include 'chat/message_buttons.html' %}
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </template>

    <!-- streaming assistant turn -->
    <template x-if="$store.stream.turn.messages">
        <div class="message-wrapper assistant">
            <div class="message assistant">
                <template x-for="(message, messageIndex) in $store.stream.turn.messages" :key="messageIndex">
                    {% include 'chat/turns/assistant_stream.html' %}
                </template>

                <template x-if="$store.stream.state === 'processing_tools'">
                    {% include 'chat/prompt_processing.html' %}
                </template>

                <div x-data="{ get targetIndex() { return $store.stream.turn.first_message_index }, turn: {} }" class="fullwidth">
                    {% include 'chat/message_buttons.html' %}
                </div>
            </div>
        </div>
    </template>

    <!-- typing indicator -->
    <template x-if="$store.stream.state === 'message_sending' || $store.stream.state === 'message_received'">
        <div class="typing-indicator" id="typing" aria-label="AI is typing" x-ignore>
            <span></span><span></span><span></span>
        </div>
    </template>

    <!-- prompt processing indicator (works with llama.cpp and derivatives) -->
    <template x-if="$store.stream.state === 'processing'">
        {% include 'chat/prompt_processing.html' %}
    </template>
</div>

<!-- invisible upload form -->
{% include 'chat/upload.html' %}

<!-- token usage bar -->
{% include 'chat/token_bar.html' %}

<!-- input field -->
<div id="input">
    {% include 'chat/input.html' %}
</div>
