<button id="upload" @click="$refs['file-input'].click()" title="Upload file or paste images (Ctrl+V)" aria-label="Upload file or paste images (Ctrl+V)" :disabled="$store.stream.state != 'idle'">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"/>
    </svg>
</button>
<input type="file" x-ref="file-input" @change="$store.upload.addFile($event)" x-show="false" x-cloak aria-hidden="true" multiple>

<textarea 
    id="user-input" 
    x-ref="user-input"
    x-model="$store.chat.user_input"
    placeholder="Type a message.." 
    x-effect="
        if ($store.stream.state === 'idle') {
            $nextTick(() => $refs['user-input'].focus());
        }
    "
    rows="1"
    x-autosize
    aria-label="Message input"
    @paste="$store.upload.pasteImage($event)"
    @keydown.enter="
        if (!$event.shiftKey && !$store.ui.isMobile) {
            $event.preventDefault();
            if (!$store.chat.user_input) { return; }

            await $store.chat.send($store.chat.user_input);
            $el.style.height = '48px';
        }
    "
    @focus="$autosize($el)"
    @blur="$el.style.height = '48px'"
></textarea>

<button id="send" aria-label="Send message"
    @click="
        $event.preventDefault();
        if (!$store.chat.user_input) { return; }

        await $store.chat.send($store.chat.user_input);
        $el.style.height = '48px';
    "
    x-show="$store.stream.state === 'idle'"
>Send</button>

<button id="stop" aria-label="Stop generation" x-show="$store.stream.state != 'idle'" x-cloak @click="
await simpleSocketSend({
    'type': 'user_message',
    'content': '/stop'
})
">
    <span class="stop-text">Stop</span>
    <!--
    TODO: add typewriter back into the webui
    <span class="streaming-icon">
        <svg class="icon-streaming" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"/>
            <polyline points="12 6 12 12 16 14"/>
        </svg>
        <svg class="icon-typing" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <rect x="2" y="4" width="20" height="16" rx="2" ry="2"></rect>
            <path d="M6 8h.001M10 8h.001M14 8h.001M18 8h.001M8 12h.001M12 12h.001M16 12h.001M6 16h12"></path>
        </svg>
        <svg class="icon-skip" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polygon points="5 4 15 12 5 20 5 4"/>
            <line x1="19" y1="5" x2="19" y2="19"/>
        </svg>
    </span>
    <span class="streaming-indicator" style="display: none;">
        <span class="indicator-dot"></span>
        <span class="indicator-dot"></span>
        <span class="indicator-dot"></span>
    </span>
    -->
</button>
