<div class="flex fullwidth">
    <template x-for="tool in message.tool_calls">
        <div>
            <div class="tool-calls-container" x-data="{ collapsed: false }">
                <div class="tool-call-card">
                    <div class="header" @click="collapsed = !collapsed">
                        <svg :class="{'toggle': true, 'toggle-expanded': !collapsed}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                            <polyline points="9 18 15 12 9 6"></polyline>
                        </svg>
                        {% include 'svg/wrench.svg' %}
                        <span class="name" x-text="tool.function?.name || 'unknown'"></span>
                        <template x-if="tool.response">
                            <span class="status completed" x-init="collapsed = true">done</span>
                        </template>
                        <template x-if="!tool.response">
                            <span class="status pending">calling...</span>
                        </template>
                    </div>

                    <div class="body" x-show="!collapsed">
                        <div class="section">
                            <div class="args">
                                <div class="title">Arguments</div>
                                <template x-for="(value, key) in partialJsonParse(tool.function?.arguments ?? '{}')">
                                    <div class="arg-row">
                                        <span class="arg-name" x-text="key"></span>
                                        <span class="arg-value" x-text="value"></span>
                                    </div>
                                </template>

                                <template x-if="tool.response">
                                    <div class="tool-response-section">
                                        <div class="title">Response</div>
                                        <div class="content">
                                             <div x-data="{
                                                     get isJson() {
                                                        try {
                                                            JSON.parse(this.tool.response);
                                                            return true;
                                                        } catch {
                                                            return false;
                                                        }
                                                    }
                                                }">
                                                 <!-- if it's json, use our complex function to show the response in a fancy way -->
                                                <template x-if="isJson">
                                                    <div class="content" x-html="toolResultsRenderer(JSON.parse(tool.response), 0)"></div>
                                                </template>
                                                <!-- if not, show it as a raw string, formatted nicely -->
                                                <template x-if="!isJson">
                                                    <p x-text="tool.response" class="raw-response"></p>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

</div>
