<aside class="sidebar" x-show="activeCategory">
    <nav class="nav">
        <template x-for="[cat, data] in $store.settings.sortedCategories" :key="cat">
            <div x-animate.duration.150ms>
                <button 
                    :class="{ active: activeNavCategory === cat }"
                    @click="await switchCategory(cat)"
                    class="item"
                >
                    <span x-text="data.title"></span>
                </button>

                <!-- Module/Channel sub-lists -->
                <template x-if="(cat === 'modules' || cat === 'user_modules' || cat === 'channels' || cat === 'user_channels') && expanded[cat] && !$store.ui.isMobile">
                    <div class="sub-list">
                        <template x-for="item in $store.settings.filteredSubItems(cat)" :key="item">
                            <button 
                                :class="{ active: (cat.includes('module') ? activeModule : activeChannel) === item }"
                                @click.stop="selectItem(item, cat)"
                                x-text="formatLabel(item)"
                            ></button>
                        </template>
                    </div>
                </template>
            </div>
        </template>

        <!-- special buttons like System Logs, Restart, etc -->
        <hr>

        <button 
            class="item" 
            @click="await $store.system.restart()"
        >
            <span>Restart Server</span>
        </button>
    </nav>
</aside>

